@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175.9 100% 95%;
    --foreground: 175.9 5% 0%;
    --card: 175.9 50% 90%;
    --card-foreground: 175.9 5% 10%;
    --popover: 175.9 100% 95%;
    --popover-foreground: 175.9 100% 0%;
    --primary: 175.9 60.8% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175.9 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137.9 30% 85%;
    --muted-foreground: 175.9 5% 35%;
    --accent: 137.9 30% 80%;
    --accent-foreground: 175.9 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 175.9 5% 90%;
    --border: 175.9 30% 50%;
    --input: 175.9 30% 18%;
    --ring: 175.9 60.8% 19%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 175.9 50% 5%;
    --foreground: 175.9 5% 90%;
    --card: 175.9 50% 0%;
    --card-foreground: 175.9 5% 90%;
    --popover: 175.9 50% 5%;
    --popover-foreground: 175.9 5% 90%;
    --primary: 175.9 60.8% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175.9 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 137.9 30% 15%;
    --muted-foreground: 175.9 5% 60%;
    --accent: 137.9 30% 15%;
    --accent-foreground: 175.9 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 175.9 5% 90%;
    --border: 175.9 30% 18%;
    --input: 175.9 30% 18%;
    --ring: 175.9 60.8% 19%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply relative h-full bg-background font-sans text-foreground antialiased;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}
